.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.btn{
  color: #fff;
  font-family: Lobster, cursive;
  font-size: 1rem;
  background-color: rgb(78, 204, 163);
  margin: 1em auto;
  padding: 1em 6em;
  border: 3px solid #fff;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
position: relative;
}

button::before,
button::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}


.btn:hover:after {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}